.contact{
    &__content{
        padding: 20px;

        &__header-text{
            color: var(--green-theme-sub-text-color);
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            line-height: 1em;
            letter-spacing: 0.5px;
            position: relative;
            text-transform: uppercase;
            padding: 5px 10px;
            border-bottom: 2px solid var(--green-theme-main-color);  
        }
        &__header-text::before,&__header-text::after{
            position: absolute;
            content: '';
            width: 2px;
            height: 5px;
            background-color: var(--green-theme-main-color);
            bottom: -1px;
        }
        &__header-text::before{
            left: 0;
        }

        &__header-text::after{
            right: 0;
        }

        &__form{
            margin-top: 60px;

            &__controlsWrapper{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 80px;
                margin-bottom: 40px;

                div{
                    position: relative;
                    .inputName,.inputEmail,.inputDescription{
                        width: 100%;
                        border: 2px solid var(--green-theme-main-color);
                        border-radius: 6px;
                        padding: 15px 20px;
                        transform: all 0.5s ease;
                        position: relative;
                        background-color: transparent;
                        color: var(--green-theme-sub-text-color);
                        letter-spacing: 1px;
                    }

                    .inputDescription{
                        padding-top: 30px ;
                    }

                    .nameLabel,.emailLabel,.descriptionLabel{
                        font-weight: 500;
                        position: absolute;
                        top: 7px;
                        left: 12px;
                        transition: all 0.2s ease;
                        color: var(--green-theme-main-color);
                        font-size: 15px;
                    }

                    .inputName:focus,.inputEmail:focus,.inputDescription:focus{
                        outline: none;
                    }

                    .inputName:focus + .nameLabel,
                    .inputName:valid + .nameLabel{
                        top: -25px;
                        left: 0px;
                    }

                    .inputEmail:focus + .emailLabel,
                    .inputEmail:valid + .emailLabel{
                        top: -25px;
                        left: 0px;
                    }

                    .inputDescription:focus + .descriptionLabel,
                    .inputDescription:valid + .descriptionLabel {
                        top: -25px;
                        left: 0px;
                    }


                }
            }

            button{
                cursor: pointer;
                padding: 10px 50px;
                font-size: 2rem;
                background: transparent;
                color: var(--green-theme-main-color);
                border: 1.5px solid var(--green-theme-main-color);
                border-radius: 6px;
                font-weight: 500;
                transition: 0.1s ease;
            }


            button:hover{
                color: var(--green-theme-background-color);
                background-color: var(--green-theme-main-color);
            }

            button:active{
                transform: scale(0.9);
            }
        }
    }

    @media only screen and (max-width: 768px){
        .contact__content__form{
            text-align: center;

            &__controlsWrapper{
                grid-template-columns: repeat(1,1fr);
            }
        }
    }
}